:root {
  --thm-primary: #FFD550;
  --thm-primary-rgb: 255, 213, 80;
  --thm-heading-font-color: #121213;
  --thm-black: #121213;
  --thm-black-rgb: 18, 18, 19;
  --thm-gray-bg: #F7F7F7;
  --thm-gray-bg-rgb: 247, 247, 247;
  --thm-white-rgb: 255, 255, 255;
  --thm-body-font-color: #6F7174;
  --thm-paragraph-color: #6F7174;
}