$flaticon_itco-font: "flaticon_itco";

@font-face {
    font-family: $flaticon_itco-font;
    src: url("./flaticon_itco.ttf?19aa72d1e7692e18e87cd2855e9cbbee") format("truetype"),
url("./flaticon_itco.woff?19aa72d1e7692e18e87cd2855e9cbbee") format("woff"),
url("./flaticon_itco.woff2?19aa72d1e7692e18e87cd2855e9cbbee") format("woff2"),
url("./flaticon_itco.eot?19aa72d1e7692e18e87cd2855e9cbbee#iefix") format("embedded-opentype"),
url("./flaticon_itco.svg?19aa72d1e7692e18e87cd2855e9cbbee#flaticon_itco") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_itco !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon_itco-map: (
    "play-button": "\f101",
    "play-button-arrowhead": "\f102",
    "earth-with-thin-waves-pattern": "\f103",
    "circle-with-rhombs-pattern": "\f104",
    "gmail-logo": "\f105",
    "maps-and-flags": "\f106",
    "call": "\f107",
    "plus": "\f108",
    "play": "\f109",
    "rating": "\f10a",
    "rating-1": "\f10b",
    "user": "\f10c",
    "management": "\f10d",
    "menu": "\f10e",
    "star": "\f10f",
    "bullhorn": "\f110",
    "security": "\f111",
    "left-arrow": "\f112",
    "dashboard": "\f113",
    "app-development": "\f114",
    "software-development": "\f115",
    "minus": "\f116",
    "content-management": "\f117",
    "technical-support": "\f118",
    "handshake": "\f119",
    "download": "\f11a",
    "ux": "\f11b",
    "ux-design": "\f11c",
    "right-arrow": "\f11d",
    "chat": "\f11e",
    "calendar": "\f11f",
    "pattern": "\f120",
    "system": "\f121",
    "completed-task": "\f122",
);

.flaticon-play-button:before {
    content: map-get($flaticon_itco-map, "play-button");
}
.flaticon-play-button-arrowhead:before {
    content: map-get($flaticon_itco-map, "play-button-arrowhead");
}
.flaticon-earth-with-thin-waves-pattern:before {
    content: map-get($flaticon_itco-map, "earth-with-thin-waves-pattern");
}
.flaticon-circle-with-rhombs-pattern:before {
    content: map-get($flaticon_itco-map, "circle-with-rhombs-pattern");
}
.flaticon-gmail-logo:before {
    content: map-get($flaticon_itco-map, "gmail-logo");
}
.flaticon-maps-and-flags:before {
    content: map-get($flaticon_itco-map, "maps-and-flags");
}
.flaticon-call:before {
    content: map-get($flaticon_itco-map, "call");
}
.flaticon-plus:before {
    content: map-get($flaticon_itco-map, "plus");
}
.flaticon-play:before {
    content: map-get($flaticon_itco-map, "play");
}
.flaticon-rating:before {
    content: map-get($flaticon_itco-map, "rating");
}
.flaticon-rating-1:before {
    content: map-get($flaticon_itco-map, "rating-1");
}
.flaticon-user:before {
    content: map-get($flaticon_itco-map, "user");
}
.flaticon-management:before {
    content: map-get($flaticon_itco-map, "management");
}
.flaticon-menu:before {
    content: map-get($flaticon_itco-map, "menu");
}
.flaticon-star:before {
    content: map-get($flaticon_itco-map, "star");
}
.flaticon-bullhorn:before {
    content: map-get($flaticon_itco-map, "bullhorn");
}
.flaticon-security:before {
    content: map-get($flaticon_itco-map, "security");
}
.flaticon-left-arrow:before {
    content: map-get($flaticon_itco-map, "left-arrow");
}
.flaticon-dashboard:before {
    content: map-get($flaticon_itco-map, "dashboard");
}
.flaticon-app-development:before {
    content: map-get($flaticon_itco-map, "app-development");
}
.flaticon-software-development:before {
    content: map-get($flaticon_itco-map, "software-development");
}
.flaticon-minus:before {
    content: map-get($flaticon_itco-map, "minus");
}
.flaticon-content-management:before {
    content: map-get($flaticon_itco-map, "content-management");
}
.flaticon-technical-support:before {
    content: map-get($flaticon_itco-map, "technical-support");
}
.flaticon-handshake:before {
    content: map-get($flaticon_itco-map, "handshake");
}
.flaticon-download:before {
    content: map-get($flaticon_itco-map, "download");
}
.flaticon-ux:before {
    content: map-get($flaticon_itco-map, "ux");
}
.flaticon-ux-design:before {
    content: map-get($flaticon_itco-map, "ux-design");
}
.flaticon-right-arrow:before {
    content: map-get($flaticon_itco-map, "right-arrow");
}
.flaticon-chat:before {
    content: map-get($flaticon_itco-map, "chat");
}
.flaticon-calendar:before {
    content: map-get($flaticon_itco-map, "calendar");
}
.flaticon-pattern:before {
    content: map-get($flaticon_itco-map, "pattern");
}
.flaticon-system:before {
    content: map-get($flaticon_itco-map, "system");
}
.flaticon-completed-task:before {
    content: map-get($flaticon_itco-map, "completed-task");
}
